In [47]:
import pandas as pd
import pendulum as dp
import numpy as np

afdf = pd.read_csv('data_input.csv',index_col=None,header=None)

In [48]:
columns = ['date', 'accountid', 'metric','usage']

afdf.columns = columns

In [49]:
afdf.replace(np. nan,'null_values',regex=True)

                   date  accountid       metric  usage
0  03/31/2022T03:32:12Z       1.00  null_values  50.00
1  04/02/2023T14:23:47Z      10.00        bytes   5.50
2  04/02/2023T10:23:47Z      10.00        bytes   0.23
3  04/02/2023T02:23:47Z      10.00        likes   2.00
4  12/24/2022T22:00:08Z       4.00       amount   2.61
5  04/02/2023T10:23:47Z       5.00        bytes   0.25
6  03/21/2022T03:32:12Z       1.00        likes  70.00
7  07/21/2022T03:32:12Z       1.32        likes  70.00

In [26]:
grouped_multiple = afdf.groupby(['date','accountid','metric']).agg({'usage': ['sum']})
grouped_multiple.columns = ['total_usage']
grouped_multiple = grouped_multiple.reset_index()
print(grouped_multiple)

         date  accountid  metric  total_usage
0  2022-03-21          1   likes        70.00
1  2022-12-24          4  amount         2.61
2  2023-04-02          5   bytes         0.25
3  2023-04-02         10   bytes         5.73
4  2023-04-02         10   likes         2.00

In [24]:
afdf['date'] = afdf['date'].apply(lambda x: dp.parse(x,strict=False).to_date_string())

In [11]:
print(afdf)

                   date  accountid  metric  usage
0  03/31/2022T03:32:12Z       1.00     NaN  50.00
1  04/02/2023T14:23:47Z      10.00   bytes   5.50
2  04/02/2023T10:23:47Z      10.00   bytes   0.23
3  04/02/2023T02:23:47Z      10.00   likes   2.00
4  12/24/2022T22:00:08Z       4.00  amount   2.61
5  04/02/2023T10:23:47Z       5.00   bytes   0.25
6  03/21/2022T03:32:12Z       1.00   likes  70.00
7  07/21/2022T03:32:12Z       1.32   likes  70.00

In [41]:
afdf.dtypes['accountid']

dtype('float64')

In [48]:
afdf = afdf.astype({"accountid": float},errors='raise')

In [50]:
if not isinstance(afdf.dtypes['accountid'],float): ## check if x is a str
    print('now now')

now now

In [1]:
from jproperties import Properties

In [5]:
configs = Properties()
with open('/Users/sandipsinha/pythoncodes/atest/src/bcove_ingest_file/bcove_cfg.poperties', 'rb') as config_file:
    configs.load(config_file)

In [7]:
print(configs.get("sort_cols").data)

[date,accountid]

In [7]:
sort_cols="['date','accountid']"
import json
type(eval(sort_cols))

list

In [51]:
afdf

                   date  accountid  metric  usage
0  03/31/2022T03:32:12Z       1.00     NaN  50.00
1  04/02/2023T14:23:47Z      10.00   bytes   5.50
2  04/02/2023T10:23:47Z      10.00   bytes   0.23
3  04/02/2023T02:23:47Z      10.00   likes   2.00
4  12/24/2022T22:00:08Z       4.00  amount   2.61
5  04/02/2023T10:23:47Z       5.00   bytes   0.25
6  03/21/2022T03:32:12Z       1.00   likes  70.00
7  07/21/2022T03:32:12Z       1.32   likes  70.00

In [53]:
for i in afdf.index.tolist():
    value = afdf.iloc[i,1]
    try:
        check_desired_format(value)
    except Exception as e:
        afdf.drop(i, inplace=True)

In [54]:
def check_desired_format(x):
    if int(x) == x:
        return True
    else:
        raise Exception("Conversion Error")

In [45]:
afdf['accountid'] = afdf['accountid'].astype('int64')

In [55]:
afdf

                   date  accountid  metric  usage
0  03/31/2022T03:32:12Z        1.0     NaN  50.00
1  04/02/2023T14:23:47Z       10.0   bytes   5.50
2  04/02/2023T10:23:47Z       10.0   bytes   0.23
3  04/02/2023T02:23:47Z       10.0   likes   2.00
4  12/24/2022T22:00:08Z        4.0  amount   2.61
5  04/02/2023T10:23:47Z        5.0   bytes   0.25
6  03/21/2022T03:32:12Z        1.0   likes  70.00

In [56]:
alist = [{'date':'2022-04-10T14:23:47Z','accountid':20,'metric':'bytes','usage':10},
             {'date':'2022-05-14T12:23:47Z','accountid':10,'metric':'bytes','usage':20},
             {'date':'2022-03-11T12:23:47Z','accountid':10,'metric':'bytes','usage':50}]
adf = pd.DataFrame(alist)

In [57]:
adf

                   date  accountid metric  usage
0  2022-04-10T14:23:47Z         20  bytes     10
1  2022-05-14T12:23:47Z         10  bytes     20
2  2022-03-11T12:23:47Z         10  bytes     50